<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51140104958-37rn9ua7r640m0pgksndipuj089b6i5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51140104958-37rn9ua7r640m0pgksndipuj089b6i5f</string>
	<key>API_KEY</key>
	<string>AIzaSyCqmqOXToniFoHpa7n4GwRzkQNkboj33JA</string>
	<key>GCM_SENDER_ID</key>
	<string>51140104958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yschoi.FCM-Sample-Topic</string>
	<key>PROJECT_ID</key>
	<string>fcmtopictest-d7f5d</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmtopictest-d7f5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51140104958:ios:90a0e73982b936e9610baf</string>
	<key>DATABASE_URL</key>
	<string>https://fcmtopictest-d7f5d.firebaseio.com</string>
</dict>
</plist>